#!/usr/bin/env python3
# -*- coding: utf-8 -*-

#
# SPDX-License-Identifier: GPL-3.0
#
# GNU Radio Python Flow Graph
# Title: ONE SEG Studio — RF
# GNU Radio version: 3.10.12.0

from gnuradio import blocks
import pmt
from gnuradio import digital
from gnuradio import dtv
from gnuradio import fft
from gnuradio.fft import window
from gnuradio import filter
from gnuradio.filter import firdes
from gnuradio import gr
import sys
import signal
from argparse import ArgumentParser
from gnuradio.eng_arg import eng_float, intx
from gnuradio import eng_notation
from gnuradio import soapy
import gnuradio.isdbt as isdbt
import threading




class studio_tx(gr.top_block):

    def __init__(self):
        gr.top_block.__init__(self, "ONE SEG Studio — RF", catch_exceptions=True)
        self.flowgraph_started = threading.Event()

        ##################################################
        # Variables
        ##################################################
        self.mode = mode = 3
        self.tx_gain = tx_gain = 0
        self.total_carriers = total_carriers = 2**(10+mode)
        self.segments_c = segments_c = 0
        self.segments_b = segments_b = 12
        self.segments_a = segments_a = 1
        self.samp_rate_usrp = samp_rate_usrp = 8e6
        self.samp_rate = samp_rate = 8e6*64/63
        self.length_c = length_c = 0
        self.length_b = length_b = 2
        self.length_a = length_a = 4
        self.guard = guard = 1.0/16
        self.data_carriers = data_carriers = 13*96*2**(mode-1)
        self.const_size = const_size = 64
        self.center_freq = center_freq = __FREQUENCY__
        self.bb_gain = bb_gain = 0.0022097087
        self.active_carriers = active_carriers = 13*108*2**(mode-1)+1

        ##################################################
        # Blocks
        ##################################################

        self.soapy_hackrf_sink_0 = None
        dev = 'driver=hackrf'
        stream_args = ''
        tune_args = ['']
        settings = ['']

        self.soapy_hackrf_sink_0 = soapy.sink(dev, "fc32", 1, '',
                                  stream_args, tune_args, settings)
        self.soapy_hackrf_sink_0.set_sample_rate(0, samp_rate_usrp)
        self.soapy_hackrf_sink_0.set_bandwidth(0, samp_rate_usrp)
        self.soapy_hackrf_sink_0.set_frequency(0, center_freq)
        self.soapy_hackrf_sink_0.set_gain(0, 'AMP', __AMPLIFIER__)
        self.soapy_hackrf_sink_0.set_gain(0, 'VGA', __GAIN__)
        self.rational_resampler_xxx_0 = filter.rational_resampler_ccc(
                interpolation=63,
                decimation=64,
                taps=[],
                fractional_bw=0)
        self.isdbt_tmcc_encoder_0 = isdbt.tmcc_encoder(3, True, 4, 64, 4, 1, 2, 0, length_a, length_b, 0, segments_a, segments_b, 0)
        self.isdbt_time_interleaver_0 = isdbt.time_interleaver(3, segments_a, length_a, segments_b, length_b, segments_c, length_c)
        self.isdbt_pilot_signals_0 = isdbt.pilot_signals(3)
        self.isdbt_hierarchical_combinator_0 = isdbt.hierarchical_combinator(3, segments_a, segments_b, 0)
        self.isdbt_frequency_interleaver_0 = isdbt.frequency_interleaver(True, 3)
        self.isdbt_energy_dispersal_0_0 = isdbt.energy_dispersal(3, 64, 2, segments_b)
        self.isdbt_energy_dispersal_0 = isdbt.energy_dispersal(3, 4, 1, segments_a)
        self.isdbt_carrier_modulation_0_0 = isdbt.carrier_modulation(3, segments_b, 64)
        self.isdbt_carrier_modulation_0 = isdbt.carrier_modulation(3, segments_a, 4)
        self.isdbt_byte_interleaver_0_0 = isdbt.byte_interleaver(3, 64, 2, segments_b)
        self.isdbt_byte_interleaver_0 = isdbt.byte_interleaver(3, 4, 1, segments_a)
        self.fft_vxx_1 = fft.fft_vcc(total_carriers, False, window.rectangular(total_carriers), True, 1)
        self.dtv_dvbt_reed_solomon_enc_0_0 = dtv.dvbt_reed_solomon_enc(2, 8, 0x11d, 255, 239, 8, 51, 1)
        self.dtv_dvbt_reed_solomon_enc_0 = dtv.dvbt_reed_solomon_enc(2, 8, 0x11d, 255, 239, 8, 51, 1)
        self.dtv_dvbt_inner_coder_0_0_0 = dtv.dvbt_inner_coder(1, (1512*4), dtv.MOD_64QAM, dtv.ALPHA4, dtv.C3_4)
        self.dtv_dvbt_inner_coder_0_0 = dtv.dvbt_inner_coder(1, (1512*4), dtv.MOD_QPSK, dtv.ALPHA4, dtv.C2_3)
        self.digital_ofdm_cyclic_prefixer_0 = digital.ofdm_cyclic_prefixer(
            total_carriers,
            total_carriers + int(total_carriers*guard),
            0,
            '')
        self.blocks_vector_to_stream_0_1_0 = blocks.vector_to_stream(gr.sizeof_char*1, (1512*4))
        self.blocks_vector_to_stream_0_1 = blocks.vector_to_stream(gr.sizeof_char*1, (1512*4))
        self.blocks_stream_to_vector_0_0 = blocks.stream_to_vector(gr.sizeof_char*1, 188)
        self.blocks_stream_to_vector_0 = blocks.stream_to_vector(gr.sizeof_char*1, 188)
        self.blocks_skiphead_0 = blocks.skiphead(gr.sizeof_gr_complex*data_carriers, 2)
        self.blocks_multiply_const_xx_0 = blocks.multiply_const_cc(bb_gain, 1)
        self.blocks_file_source_0_0 = blocks.file_source(gr.sizeof_char*1, __LAYER_B__, True, 0, 0)
        self.blocks_file_source_0_0.set_begin_tag(pmt.PMT_NIL)
        self.blocks_file_source_0 = blocks.file_source(gr.sizeof_char*1, __LAYER_A__, False, 0, 0)
        self.blocks_file_source_0.set_begin_tag(pmt.PMT_NIL)


        ##################################################
        # Connections
        ##################################################
        self.connect((self.blocks_file_source_0, 0), (self.blocks_stream_to_vector_0, 0))
        self.connect((self.blocks_file_source_0_0, 0), (self.blocks_stream_to_vector_0_0, 0))
        self.connect((self.blocks_multiply_const_xx_0, 0), (self.rational_resampler_xxx_0, 0))
        self.connect((self.blocks_skiphead_0, 0), (self.isdbt_pilot_signals_0, 0))
        self.connect((self.blocks_stream_to_vector_0, 0), (self.dtv_dvbt_reed_solomon_enc_0, 0))
        self.connect((self.blocks_stream_to_vector_0_0, 0), (self.dtv_dvbt_reed_solomon_enc_0_0, 0))
        self.connect((self.blocks_vector_to_stream_0_1, 0), (self.isdbt_carrier_modulation_0, 0))
        self.connect((self.blocks_vector_to_stream_0_1_0, 0), (self.isdbt_carrier_modulation_0_0, 0))
        self.connect((self.digital_ofdm_cyclic_prefixer_0, 0), (self.blocks_multiply_const_xx_0, 0))
        self.connect((self.dtv_dvbt_inner_coder_0_0, 0), (self.blocks_vector_to_stream_0_1, 0))
        self.connect((self.dtv_dvbt_inner_coder_0_0_0, 0), (self.blocks_vector_to_stream_0_1_0, 0))
        self.connect((self.dtv_dvbt_reed_solomon_enc_0, 0), (self.isdbt_energy_dispersal_0, 0))
        self.connect((self.dtv_dvbt_reed_solomon_enc_0_0, 0), (self.isdbt_energy_dispersal_0_0, 0))
        self.connect((self.fft_vxx_1, 0), (self.digital_ofdm_cyclic_prefixer_0, 0))
        self.connect((self.isdbt_byte_interleaver_0, 0), (self.dtv_dvbt_inner_coder_0_0, 0))
        self.connect((self.isdbt_byte_interleaver_0_0, 0), (self.dtv_dvbt_inner_coder_0_0_0, 0))
        self.connect((self.isdbt_carrier_modulation_0, 0), (self.isdbt_hierarchical_combinator_0, 0))
        self.connect((self.isdbt_carrier_modulation_0_0, 0), (self.isdbt_hierarchical_combinator_0, 1))
        self.connect((self.isdbt_energy_dispersal_0, 0), (self.isdbt_byte_interleaver_0, 0))
        self.connect((self.isdbt_energy_dispersal_0_0, 0), (self.isdbt_byte_interleaver_0_0, 0))
        self.connect((self.isdbt_frequency_interleaver_0, 0), (self.blocks_skiphead_0, 0))
        self.connect((self.isdbt_hierarchical_combinator_0, 0), (self.isdbt_time_interleaver_0, 0))
        self.connect((self.isdbt_pilot_signals_0, 0), (self.isdbt_tmcc_encoder_0, 0))
        self.connect((self.isdbt_time_interleaver_0, 0), (self.isdbt_frequency_interleaver_0, 0))
        self.connect((self.isdbt_tmcc_encoder_0, 0), (self.fft_vxx_1, 0))
        self.connect((self.rational_resampler_xxx_0, 0), (self.soapy_hackrf_sink_0, 0))


    def get_mode(self):
        return self.mode

    def set_mode(self, mode):
        self.mode = mode
        self.set_active_carriers(13*108*2**(self.mode-1)+1)
        self.set_data_carriers(13*96*2**(self.mode-1))
        self.set_total_carriers(2**(10+self.mode))

    def get_tx_gain(self):
        return self.tx_gain

    def set_tx_gain(self, tx_gain):
        self.tx_gain = tx_gain

    def get_total_carriers(self):
        return self.total_carriers

    def set_total_carriers(self, total_carriers):
        self.total_carriers = total_carriers
        self.fft_vxx_1.set_window(window.rectangular(self.total_carriers))

    def get_segments_c(self):
        return self.segments_c

    def set_segments_c(self, segments_c):
        self.segments_c = segments_c

    def get_segments_b(self):
        return self.segments_b

    def set_segments_b(self, segments_b):
        self.segments_b = segments_b

    def get_segments_a(self):
        return self.segments_a

    def set_segments_a(self, segments_a):
        self.segments_a = segments_a

    def get_samp_rate_usrp(self):
        return self.samp_rate_usrp

    def set_samp_rate_usrp(self, samp_rate_usrp):
        self.samp_rate_usrp = samp_rate_usrp
        self.soapy_hackrf_sink_0.set_sample_rate(0, self.samp_rate_usrp)
        self.soapy_hackrf_sink_0.set_bandwidth(0, self.samp_rate_usrp)

    def get_samp_rate(self):
        return self.samp_rate

    def set_samp_rate(self, samp_rate):
        self.samp_rate = samp_rate

    def get_length_c(self):
        return self.length_c

    def set_length_c(self, length_c):
        self.length_c = length_c

    def get_length_b(self):
        return self.length_b

    def set_length_b(self, length_b):
        self.length_b = length_b

    def get_length_a(self):
        return self.length_a

    def set_length_a(self, length_a):
        self.length_a = length_a

    def get_guard(self):
        return self.guard

    def set_guard(self, guard):
        self.guard = guard

    def get_data_carriers(self):
        return self.data_carriers

    def set_data_carriers(self, data_carriers):
        self.data_carriers = data_carriers

    def get_const_size(self):
        return self.const_size

    def set_const_size(self, const_size):
        self.const_size = const_size

    def get_center_freq(self):
        return self.center_freq

    def set_center_freq(self, center_freq):
        self.center_freq = center_freq
        self.soapy_hackrf_sink_0.set_frequency(0, self.center_freq)

    def get_bb_gain(self):
        return self.bb_gain

    def set_bb_gain(self, bb_gain):
        self.bb_gain = bb_gain
        self.blocks_multiply_const_xx_0.set_k(self.bb_gain)

    def get_active_carriers(self):
        return self.active_carriers

    def set_active_carriers(self, active_carriers):
        self.active_carriers = active_carriers




def main(top_block_cls=studio_tx, options=None):
    if gr.enable_realtime_scheduling() != gr.RT_OK:
        gr.logger("realtime").warn("Error: failed to enable real-time scheduling.")
    tb = top_block_cls()

    def sig_handler(sig=None, frame=None):
        tb.stop()
        tb.wait()

        sys.exit(0)

    signal.signal(signal.SIGINT, sig_handler)
    signal.signal(signal.SIGTERM, sig_handler)

    tb.start()
    tb.flowgraph_started.set()

    try:
        input('Press Enter to quit: ')
    except EOFError:
        pass
    tb.stop()
    tb.wait()


if __name__ == '__main__':
    main()
